*{ /*est es para toda la pagina*/
    margin: 0; /*elimina los margenes externos*/
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather', sans-serif;
    font-size: 15px; /*tamaño del texto*/
    line-height: 1.8; /*este es el espacio entre lineas*/
    color: #444; /*color del texto*/
    background-color: #f9f7f3;
}

h1, h2, h3, .logo {
    font-family: 'Merriweathe', serif;
    font-weight: 700;
    color: #2a2a2a;
}

a {
    text-decoration: none; /*para eliminar el subrayado azul*/
    color: #8B4513;
}





