*{ /*est es para toda la pagina*/
    margin: 0; /*elimina los margenes externos*/
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather', sans-serif;
    font-size: 15px; /*tamaño del texto*/
    line-height: 1.8; /*este es el espacio entre lineas*/
    color: #444; /*color del texto*/
    background-color: #f9f7f3;
}

h1, h2, h3, .logo {
    font-family: 'Merriweathe', serif;
    font-weight: 700;
    color: #2a2a2a;
}

a {
    text-decoration: none; /*para eliminar el subrayado azul*/
    color: #8B4513;
}


.container, .hero-text {
    width: 90%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.site-header .container .encabezado {
    display: flex; /*activa flexbox*/
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.site-header {
    padding: 1rem 0;
    background-color: #ffcc3e;
    border-bottom: 1px solid #e0e0e0;
}

.logo img {
    width: 120px;
    height: auto;
    font-size: 2.5rem;
}

.encabezado ul { 
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 30px;
    padding: 0;
    margin: 0;
}

.site-header .container { /*para centrar en la página*/
    display: flex;
    justify-content: center;
}

.main-nav a {
    font-weight: 700;
}






